  <div class="container">

  <h1 class="container">All Grills</h1>

  <p></p>

  <div class="container">
    <%@grills.each do |grill|%>
      <div class="card-description"><%=grill.name%></div>
    <% end %>
  </div>

  <p></p>

  <div class="container">
    <%= link_to "Show my Grills", my_grills_path, class: "btn btn-primary" %>
  </div>

</div>
