  <div class="container">

  <h1>My Grills</h1>

    <%@grills.each do |grill|%>
      <div class="card-description"><%=grill.name%></div>

        <%= link_to "Edit |", edit_grill_path(grill) %>
        <%= link_to "Delete", grill_path(grill), method: :delete %>
    <% end %>

      </p>

    <%= link_to "Add your Grill", new_grill_path, class: "btn btn-primary" %>

  </p>

</div>
