  <div class="cards">
    <h2> Reserva </h2>
  <% @booking.each do |booking| %>
      <div class="card-category" >
        <%= link_to  %>
      </div>
    <%end  %>
  </div>
<!-- <a class="btn btn-ghost" href="#">Write a story</a> -->
