.calendar {
	border: 1px solid black;
	width: 400px;
}

.btn-arrow {
	font-size: 16px;
	color: black;
	background-color: transparent;
}

.btn-calendar-mday {
	padding: 10px 0px;
	margin: 5px 0px;
	font-size: 16px;
	color: rgb(150, 150, 150);
	flex-grow: 1;
	text-align: center;
}

.other-month {
	opacity: 0.5
}

.selected-day {
	background-color: #C8FAEE;
	color: #68E3B9;
}

.range-begin {
	border-radius: 50% 0 0 50% 
}

.range-end {
	border-radius: 0 50% 50% 0;
}

.range-begin.range-end {
	border-radius: 50%;
	padding: 10px;
}

.active-day {
	background-color: #626EFD;
	color: white;
	padding: 10px;
}