.navbar-lewagon {
  justify-content: space-between;
  background: #292840;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 15vh;
  color: #F25430;
}

.navbar-toggler {
  background-color: #white;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border: 0px;
}